*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:poppins;
}
html{
  font-size:62.5%;
  overflow-x:hidden;
}
header{
  position:sticky;
  top:0;
  left:0;
  width:100%;
  padding:3rem 9%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index:100;
  background-color:#5E30D7;
  color:white;
}
.navbar a{
  font-size:1.4rem;
  color:white;
  text-decoration:none;
  margin-left:4rem;
  border-bottom:3px solid transparent;
}
.logo{
  font-size:3.1rem;
  font-weight:800;
}
section{
min-height:100vh;
  padding:10rem 9% 10rem;
}
#foto{
  width:20vh;
}
.home{
  display:flex;
  align-items:center;
  gap:8rem;
}
.chamado{
  font-size:3rem;
  font-weight:800;
}
.pt{
  font-size:2rem;
  margin:2rem;
}
.bt{
  margin-top:3rem;
  width:200px;
  height:40px;
  border-radius:7px;
  border:1px solid black;
  background-color:#5E30D7;
  color:white;
  transform:(1);
}
.bt:active{
  transform:scale(1.2);
}

#ft{
  width:20vh;
}
.socialmedia{
  margin-top:2rem;
  display:flex;
}
.wa{
  border:1px solid#5E30D7;
  width:20px;
  height:20px;
  text-align:center;
  border-radius:50%;
  padding-top:4px;
  margin:1rem;
}
.fa{
  border:1px solid#5E30D7;
  width:20px;
  height:20px;
  text-align:center;
  border-radius:50%;
  padding-top:4px;
  margin:1rem;
}
.it{
  border:1px solid#5E30D7;
  width:20px;
  height:20px;
  text-align:center;
  border-radius:50%;
  padding-top:4px;
  margin:1rem;
}
i{
  font-size:10px;
  color:#5E30D7;
}
.abount{
  display:flex;
  flex-direction:column;
}
.ab{
  font-size:3rem;
  font-weight:800;
}
.abp{
  font-size:2rem;
}
span{
  color:#5E30D7;
}
.cardtext{
  margin:3rem;
}
input{
  width:300px;
  outline:none;
  border-radius:1px solid #961AD7;
}
input{
margin:2rem;
outline:none;
border:none;
border-bottom:2px solid#5E30D7;
transition:transform 0.3s ease
border-bottom-color ease;
}
input:focus{
  transform:translatey(-5px);
  border-bottom-color:#961AD7;
}
.fom{
  margin-top:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.contat{
  text-align:center;
}
#sub{
  width:200px;
  height:40px;
  background-color:#5E30D7;
  border:1px solid black;
  color:white;
  border-radius:10px;
  transform:(1);
}
#sub:active{
  transform:scale(1.2);
}
  #st{
  color:white;
}
#sp{
  color:white;
}
textarea{
  outline:none;
  border:1px solid#5E30D7;
  width:300px;
  height:150px;
  resize:none;
  padding-left:1rem;
  border-radius:10px;
}
i{
  margin:1rem;
  font-size:2rem;
}
@media screen and (max-width:760px) {
  .home{
    display:flex;
    flex-direction:column-reverse;
    margin-top:10rem;
    text-align:center;
  }
  #foto{
    width:40vh;
    border-radius:10px;
  }
  .fm{
    height:40vh;
  }
  footer{
    padding-top:3rem;
  }
  .abount{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .abp{
    margin-top:2rem;
  }
 #ft{
  min-height:50vh;
   min-width:40vh;
 } 
}